.page-template-page-privacy {

    p {
        line-height: 36px;
        color: #6c6d70;
        font-size: 22px;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 50px;
        font-weight: 700;
        color: #24262d;
        line-height: 50px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .main-section  {
        padding-top: 100px;
        background: #fff;
    }
}